@(data: TemplateData, channel_list: Page[ZoneChannel])

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._
@import scala._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.views.html._

@main("Zona"){
	
		@dashboard_content("Zona dan Channel","Daftar Channel","daftar channel"){
  		
			<div class="content-padding">
			<p>Channel adalah pengelompokan zona di area tertentu</p>
			@if(channel_list.getTotalRowCount== 0 ){
				<h4 style="color:red">Tidak ada Channel</h4> 
				<h5>Masuk ke menu <a href="@controllers.backend.routes.ZoneController.createChannel()">"Tambah Channel"</a> untuk membuat channel baru</h5>
			}else{
				<strong>Menampilkan Channel @channel_list.getDisplayXtoYofZ(" sampai "," dari ")</strong><br><br>
				@for(channel <- channel_list.getList) {
					<div class="zone-list">
						<table>
							<tr>
								<td>Nama Channel</td>
								<td>:</td>
								<td>@channel.getChannel_name</td>
							</tr>
							<tr>
								<td>Deskripsi</td>
								<td>:</td>
								<td>@channel.getChannel_description</td>
							</tr>
							<tr>
								<td colspan="3" style="padding-top:10px;padding-bottom:5px;">
									<form action="@controllers.backend.routes.ZoneController.showSingleChannel(channel.getId_zone_channel)" 
										  style="display:inline;">
										<button class="btn btn-small">Lebih Lengkap</button>
									</form>									
   									@restrict(List(as("administrator"))){ 									
										<form action="@controllers.backend.routes.ZoneController.editChannel(channel.getId_zone_channel)" style="display:inline;">
											<button class="btn btn-small btn-info">Ubah</button>
										</form>
									}
								</td>
							</tr>
						</table>
						<br><br>
					</div> 		@*zone list end *@
				}  @* end for *@
		        <div id="pagination" class="pagination">
		            <ul>
		                @if(channel_list.hasPrev) {
		                    <li class="prev">
		                        <a href="@controllers.backend.routes.ZoneController.showChannelPage(channel_list.getPageIndex - 1)">&larr; Previous</a>
		                    </li>
		                } else {
		                    <li class="prev disabled">
		                        <a>&larr; Sebelumnya</a>
		                    </li>
		                }
		                <li class="current">
		                    <a href="@controllers.backend.routes.ZoneController.showChannel()">--- @channel_list.getPageIndex ---</a>
		                </li>
		                @if(channel_list.hasNext) {
		                    <li class="next">
		                        <a href="@controllers.backend.routes.ZoneController.showChannelPage(channel_list.getPageIndex + 1)">Next &rarr;</a>
		                    </li>
		                } else {
		                    <li class="next disabled">
		                        <a>Selanjutnya &rarr;</a>
		                    </li>
		                }
		            </ul>
		        </div>
        </div>
    	}
 }
} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("zone")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
