@(data: TemplateData, zona:Zone)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._

@main("Zona"){
	
		@dashboard_content("Zona dan Channel","Detail Zona","daftar zona"){
  		
  		<h4></h4>
        
	
		
		<div class="form-actions">
	         <form action=""><button type="submit" class="btn btn-primary">Ubah Zona</button></form>
        </div>
    }

} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("zone")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
