@(data: TemplateData, back:String)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._

@main("Zona"){
	
		@dashboard_content("Zona dan Channel","Hapus Zona", "daftar zona"){
		<div class="content-padding">
	 		<br>
			@if(flash.contains("success")) {
			      <div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
			      	 <h4>Data Di Hapus</h4>
					 @flash.get("success")
			      </div>
			}  		  	
			@if(flash.contains("error")) {
			      <div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
			      	 <h4>Penghapusan Gagal</h4>					
					 @flash.get("error")
			      </div>
			}  	<br><br>		  		
		      <a class="btn" 
		      	 href="@controllers.backend.routes.ZoneController.showZone()">
		      	 Ke Halaman Daftar Zona &rarr;
		      </a>
		
		 </div>	
	    } @*End Dashboard content *@

} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("zone")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
