@(data: TemplateData ,deposito_form:Form[DepositoForm], depositoData:DepositoData) 
  

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._

@getError() = {
	@if(flash.contains("error")) {
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<p>@flash.get("error")</p>
		</div>
	}
} 	  	    
@getSuccess()= {
 	@if(flash.contains("success")) {
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>Sukses!</p>
		<p>@flash.get("success")</p>
		</div>
	}
}
@generateError()={
	@if(deposito_form.hasErrors){
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<ul>
			@if(deposito_form.error("amount")!=null){
				<li>
				@deposito_form.error("amount").message()
				</li>
			}					
			@if(deposito_form.error("description")!=null){
				<li>
				@deposito_form.error("description").message()
				</li>
			}	
			</ul>
		</div>
	}
}
@main("Keuangan"){

		@* Tambahkan java script dan css *@
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/jquery-ui-1.10.3.custom.min.js")"></script>
		<link href="@routes.Assets.at("css/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet">
	
		@dashboard_content("Keuangan","Pengisian Dana","tambah-saldo"){
		
			@form(action =controllers.backend.routes.FinanceController.saveDeposito(), 'class-> "form-horizontal") {
						<div class="content-padding"> 
							<h4>Tambah Dana Iklan</h4>
							<h5 style="font-style: italic;">Mengirim dana iklan untuk akun pengiklan</h5>
								@getError()									
								@generateError()
								@getSuccess()								
						</div>

						<div class="content-padding">
							<div class="control-group">
								<label class="control-label" for="channel_name">Jumlah Dana</label>
								<div class="controls">
									<input name="amount" type="number" placeholder="Jumlah Pembayaran" value="@deposito_form("amount").value" id="amount">
									<p class="help-block">Jumlah nominal dana yang dimasukan</p>													 
								</div>
							</div>															
								<div class="control-group">
									<label class="control-label" for="channel_name">Penerima Dana</label>
									<div class="controls">
										<select name=idUser id="idUser">
											@for(data<-depositoData.getUser){
												<option @("selected".when(data.getId_user==deposito_form("iDUser").value))
														value="@(data.getId_user)">@(data.getFront_name) | @data.getEmail</option>
											}
										</select> 
										<p class="help-block">Pengguna yang menerima dana iklan</p>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="channel_name">Metode Pembayaran</label>
									<div class="controls">
										<select name="paymentMethod" id="paymentMethod">
											@for(data<-depositoData.getPaymentMethod){
												<option @("selected".when(data(0)==deposito_form("paymentMethod").value))
														value="@(data(0))">@(data(1))</option>
											}
										</select> 
										<p class="help-block">Metode pembayaran yang digunakan</p></br>
									</div>
								</div>
								
							<div class="control-group">
								<label class="control-label" for="channel_name">Deskripsi Dana</label>
								<div class="controls">
									<textarea rows="5" placeholder="Deskripsi pembayaran" class="input"  name="description" 
									id="description">@deposito_form("description").value</textarea>	                    								 
								 	<p class="help-block">Dekripsi dari dana</p>													 
								</div>
							</div>																											
						</div> @*end content padding *@
																					
					 
				 <div class="form-actions">
				    <button type="submit" class="btn btn-primary">Simpan</button>
				    <button type="reset" class="btn">Reset</button>
				</div> @*end form action *@					
				</div>	} @*end form *@ 						
		</div>

   }



} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("finance")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
