@(forgetForm : Form[ForgetPassForm])

@import helper._
@getError() = {
	@if(flash.contains("error")) {
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<p>@flash.get("error")</p>
		</div>
	}
} 	  	    
@getSuccess()= {
 	@if(flash.contains("success")) {
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>Sukses!</p>
		<p>@flash.get("success")</p>
		</div>
	}
}
@main("Lupa Password") {
	
	    <div class="artikel">
      <ul class="breadcrumb">
        <li><a href="/">Home</a><span class="divider">/<span><li>
        <li><a href="lupa_password">Lupa Password</a><li>
      </ul>
	  <p>Ups, benar-benar lupa password?</p>
      <p>Tidak perlu kuatir,Masukan Alamat E-Mail untuk memulai permintaan proses setel ulang password</p>
		@getSuccess
		@getError
      @helper.form(action=frontend.routes.FrontEndController.forgetProcess, 'class-> "form-forget-password") {
         <h4 class="">Masukan Email</h4>
         
         	<input class=input-block-level type="email" name="email" placeholder="Alamat Email" value="@forgetForm("email").value">
          	<button style="text-align:right" class="btn" type="submit">Kirim Permintaan</button>
      }
      
       </div>
     
}
