@(data: TemplateData, listData:UserListPage)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._
@import scala._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.views.html._

@main("Laporan Iklan"){
		
		@* Tambahkan java script dan css *@
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/jquery-ui-1.10.3.custom.min.js")"></script>
		<link href="@routes.Assets.at("css/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet">
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/dataTables.min.js")"></script>
		<link href="@routes.Assets.at("css/table.css")" rel="stylesheet">
		
		<link href="@routes.Assets.at("multiselect/css/multi-select.css")" rel="stylesheet">
		
	
		@dashboard_content("Laporan","Laporan Performansi Pengiklan","laporan_user"){
			<div class="content-padding" style="min-height: @(160+listData.getUserList.size*32+76)px">
		<h4>Laporan Performansi Pengiklan</h4>
			<p>Menampilkan jumlah iklan, impresi, klik dan total dana yang sudah dikeluarkan untuk beriklan untuk masing-masing pengiklan</p>
			<div style="border:1px solid #ccc;width:100%;height:2px;margin:0 auto;margin-top:12px;"></div>
			 <div id="table">
				<table cellpadding="0" cellspacing="0" border="0" class="display" id="table_report">
					<thead>
						<tr>
							<th>No</th>
							<th>Nama Pengguna</th>
							<th>Total Transaksi Iklan</th>
							<th>Total Biaya Iklan</th>
							<th>Jumlah Campaign</th>
							<th>Jumlah Banner</th>
							<th>Jumlah Impresi</th>
							<th>Jumlah Klik</th>
						</tr>
					</thead>
					<tbody>
					@for((user, index)<-listData.getUserList.zipWithIndex) {
					<tr>
						<td>@(index+1)</td>
						<td>
							<a href="@controllers.backend.routes.UserController.showSingleUser(user.getUser.getId_user)">
								@user.getUser.getFront_name
							</a>
						
						</td>
						<td>@user.getTotalAdsTransaction_angka</td>
						<td>@user.getTotalAdsTransactionFund_rupiah</td>
						<td>@user.getTotalCampaign_angka</td>
						<td>@user.getTotalBanner</td>
						<td>@user.getTotalImpression_angka</td>						
						<td>@user.getTotalClick_angka</td>
					</tr>
					}
					</tbody>
				</table>
			</div>
			
					<div id="pagination" class="pagination pagination-user">
		            <ul>
		                @if(listData.getPage.hasPrev) {
		                    <li class="prev">
		                        <a href="@controllers.backend.routes.ReportController.userPerformanceReport(listData.getPage.getPageIndex - 1)">&larr; Previous</a>
		                    </li>
		                } else {
		                    <li class="prev disabled">
		                        <a>&larr; Sebelumnya</a>
		                    </li>
		                }
		                <li class="current">
		                    <a href="@controllers.backend.routes.ReportController.userPerformanceReport(1)"> --- @(listData.getPage.getPageIndex+1) ---</a>
		                </li>
		                @if(listData.getPage.hasNext) {
		                    <li class="next">
		                        <a href="@controllers.backend.routes.ReportController.userPerformanceReport(listData.getPage.getPageIndex - 1)">Next &rarr;</a>
		                    </li>
		                } else {
		                    <li class="next disabled">
		                        <a>Selanjutnya &rarr;</a>
		                    </li>
		                }
		            </ul>
		        </div>				
		</div> @* End Content padding *@
		
	  }
	
		<script text="text/javascript">
		$(document).ready(function() {

			var userLink="@controllers.backend.routes.ReportController.indexWithForm(0)";
		    $("#user").change(function() {
		            $("#filterpengguna").prop("href",userLink+$(this).val());
		    });
		    $("#user").click(function() {
		            $("#filterpengguna").prop("href",userLink.replace("0",$(this).val()));
		    });	 

		    $('#table_report').dataTable({
		    	"bPaginate" : false,
		    	"bLengthChange":false,
		        "oLanguage": {
		            "sLengthMenu": "Display _MENU_ records per page",
		            "sZeroRecords": "Maaf Data tidak ditemukan",
		            "sInfo": "Menampilkan _END_ buah data",
		            "sInfoEmpty": "",
		            "sInfoFiltered": "<br>Di filter dari total _MAX_ buah data",
		            "sPrevious": "Sebelumnya",
		            "sNext": "Selanjutnya",
		            "sSearch": "Filter  :"
		        }
		    });					
		});
		
		</script>


} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("report")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
