@(data: TemplateData, selectedUser:User, reportData:ReportData)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._
@import scala._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.views.html._

@main("Laporan Iklan"){
		
		@* Tambahkan java script dan css *@
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/jquery-ui-1.10.3.custom.min.js")"></script>
		<link href="@routes.Assets.at("css/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet">
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("multiselect/js/jquery.multi-select.js")"></script>
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/highcharts.js")"></script>
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/modules/exporting.js")"></script>
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/dataTables.min.js")"></script>
		<link href="@routes.Assets.at("css/table.css")" rel="stylesheet">
		
		<link href="@routes.Assets.at("multiselect/css/multi-select.css")" rel="stylesheet">
		
	
		@dashboard_content("Laporan","Laporan Iklan","laporan"){
		<div class="content-padding">
		<h4>Lihat Laporan Iklan</h4>
	    @restrict(List(as("administrator"), as("manager"))){                     		
		@if(reportData.getUserList.size!=0){
				Pilih Pengiklan : 
					<select name="user" id="user">
						@for(single_user<-reportData.getUserList){
								<option @("selected".when(single_user.getId_user.toString==selectedUser.getId_user))
										value="@(single_user.getId_user)">@(single_user.getFront_name) | @single_user.getEmail</option>
							}
					</select>
					<a style="margin-top:-8px" href="@controllers.backend.routes.ReportController.indexWithForm(selectedUser.getId_user)"
						class="btn" id="filterpengguna">
						Pilih
					</a>
			}else{

					<h4>Tidak ada pengiklan yang terdaftar</h4>
			}<br/>	
		}
		<div style="border:1px solid #ccc;width:100%;height:2px;margin:0 auto;margin:12px 0 12px 0;"></div>

		<a role="button" data-toggle="modal" class="btn" href="#setting_modal"  style="display:inline;margin-right:10px;margin-left:0px"> Pengaturan Tampilan</a>

		@**********Modal Setting********@
			<div id="setting_modal" style="width:600px;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="banner_modal" aria-hidden="true">
				<div class="modal-header">
		    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    		<h3 id="label">Pengaturan Laporan</h3>
		  		</div>

		  	@form(action =controllers.backend.routes.ReportController.indexWithForm(selectedUser.getId_user), 'class-> "form-horizontal") {				
				 <div class="modal-body" style="background-color:#f9f9f9;">
					<div id="forms" style="background-color:#f9f9f9;padding:10px; margin:0 auto;">
			
							
							<label for="user" style="padding-top:10px">Pilih Campaign</label>										
							<select name="campaign" id="campaign">
								<option value="0">Semua Campaign</option>
							@for(campaign<-reportData.getCampaignList){
								<option value="@campaign.getId_campaign">@campaign.getCampaignName</option>
							}
							</select>
							<label for="from">Dari Tanggal </label>
							<input placeholder="Dari Tanggal" class="" type="text" id="from" name="from" />
							<label for="to">Hingga</label>
							<input placeholder="Hingga Tanggal" class="" type="text" id="to" name="to"/><br>
			</div> 
  		</div>@*End Div *@
  				<div class="modal-footer">
				   		<button type="submit" class="btn">Tampilkan Laporan</button>
				   <button class="btn"  data-dismiss="modal" aria-hidden="true">Batal</button>
				</div>
				} @* End Form *@	

			</div>	


			<div style="border:1px solid #ccc;width:100%;height:2px;margin:0 auto;margin-top:12px;"></div>
			<h4>Laporan Campaign Selama Periode @reportData.getFrom_formatted hingga @reportData.getTo_formatted</h4>
			<div id="chart" style="width:85%;height:auto;margin: 0 auto;border:1px solid #ccc">
				chart
			</div>
			<div style="border:1px solid #ccc;width:100%;height:2px;margin:0 auto;margin: 12px 0 12px 0;"></div>			
			 <div id="table">
				<table cellpadding="0" cellspacing="0" border="0" class="display" id="table_report">
					<thead>
						<tr>
							<th>No</th>
							<th>Nama Campaign</th>
							<th>Nama Banner</th>
							<th>Jumlah Impresi</th>
							<th>Jumlah Klik</th>
							<th>Klik/Impresi (CTR)</th>
						</tr>
					</thead>
					<tbody>
					@for((bannerList, index)<-reportData.getBannerList.zipWithIndex) {
					<tr>
						<td>@(index+1)</td>
						<td>@bannerList.getBanner.getCampaign.getCampaignName</td>
						<td>@bannerList.getBanner.getName</td>
						<td>@bannerList.getImpresion_count_angka</td>
						<td>@bannerList.getClick_count_angka</td>
						<td>@bannerList.getCTR</td>
					</tr>
					}
					</tbody>
				</table>
				<div style="height:50px"></div>
			</div>
		</div> @* End Content padding *@
		
	  }
	
		<script text="text/javascript">
		$(document).ready(function() {

			var userLink="@controllers.backend.routes.ReportController.indexWithForm(0)";
		    $("#user").change(function() {
		            $("#filterpengguna").prop("href",userLink+$(this).val());
		    });
		    $("#user").click(function() {
		            $("#filterpengguna").prop("href",userLink.replace("0",$(this).val()));
		    });	 

		    $('#table_report').dataTable({
		    	"bPaginate" : true,
		    	"bLengthChange":false,
		        "oLanguage": {
		            "sLengthMenu": "Display _MENU_ records per page",
		            "sZeroRecords": "Maaf Data tidak ditemukan",
		            "sInfo": "Menampilkan _END_ buah data",
		            "sInfoEmpty": "Menampilkan 0 sampai 0 dari 0 buah data",
		            "sInfoFiltered": "<br>Di filter dari total _MAX_ buah data",
		            "sPrevious": "Sebelumnya",
		            "sNext": "Selanjutnya",
		            "sSearch": "Filter  :"
		        }
		    });			
	        $('#chart').highcharts({
	            chart: {
	                type: 'bar'
	            },
	            title: {
	                text: '@reportData.getDiagramData.getText'
	            },
	            subtitle: {
	                text: '@reportData.getDiagramData.getSubtext'
	            },
	            xAxis: {
	                categories: [
	                    @for(kategori<-reportData.getDiagramData.getCategories){
	                    	'@kategori',
	                    }     
	                ]
	            },
	            yAxis: {
	                min: 0,
	                title: {
	                    text: 'Jumlah'
	                }
	            },
	            tooltip: {
	                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
	                footerFormat: '</table>',
	                shared: true,
	                useHTML: true
	            },
	            plotOptions: {
	                column: {
	                    pointPadding: 0.2,
	                    borderWidth: 0
	                }
	            },
	            series: [{
	                name: 'Impresi',
	                data: [
								@for(impresi<-reportData.getDiagramData.getImpresi){
									  @impresi,
								 }
	                       ]
	    
	            }, {
	                name: 'Klik',
	                data: [
	                      	 @for(klik<-reportData.getDiagramData.getClick){
	                    	  @klik,
	                       	}	                       
	                       ]
	            }]
	        });

	        $( "#from" ).datepicker({
	            defaultDate: "+1w",
	            changeMonth: true,
	            numberOfMonths: 2,
	            onClose: function( selectedDate ) {
	              $( "#to" ).datepicker( "option", "minDate", selectedDate );
	            }
	          });
	          $( "#to" ).datepicker({
	            defaultDate: "+1w",
	            changeMonth: true,
	            numberOfMonths: 2,
	            onClose: function( selectedDate ) {
	              $( "#from" ).datepicker( "option", "maxDate", selectedDate );
	            }
	          });
	        
			
		});
		
		</script>


} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("report")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
