@(data: TemplateData)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._

@main("Zona"){
	
		@dashboard_content("Zona","Daftar Channel","daftar channel"){
  		
  		<h4> Daftar Channel</h4>
		  @lorem()
        <div class="form-actions">
	         <button type="submit" class="btn btn-primary">Save changes</button>
    	     <button type="reset" class="btn">Cancel</button>
        </div>
    }

} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("zone")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
