@(data: TemplateData, zone:Zone)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._

@main("Zona"){
	
		@dashboard_content("Zona dan Channel","Tambah Zona", "tambah zona"){
		 <div class="content-padding">
		  	<div class="alert alert-info">
					<h4>Zona sukses ditambahkan :D</h4>
					<h5>Ringkasan</h5>
					<table style="padding-left:15px">
						<tr><td>Nama zona</td><td>:</td><td>@zone.getZone_name</td></tr>
						<tr><td>Deskripsi</td><td>:</td><td>@zone.getDescription</td></tr>
						<tr><td>Ukuran</td><td>:</td><td> @zone.getBanner_size.getName (@zone.getBanner_size.getWidth px x @zone.getBanner_size.getHeight px) </td></tr>>
						<tr><td>Tipe </td><td>:</td><td>@zone.getZone_type.toString</td></tr>
						<tr><td>Default view</td><td>:</td><td>@zone.getZone_default_view.toString</td></tr>
						<tr><td>Channel</td><td>:</td><td> @zone.getZone_channel.getChannel_name</td></tr>
					</table>	
				</div>
	  		
	  		<form action="@controllers.backend.routes.ZoneController.showZone()">
	        <div class="form-actions">
		         <button type="submit" class="btn btn-primary">Ke Daftar Zona</button>
	        </div>			
			</div>
	    } @*End Dashboard content *@
	
} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("zone")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
