@(data: TemplateData ,zones:List[Array[String]], campaign:Campaign)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._

@getError() = {
	@if(flash.contains("error")) {
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<p>@flash.get("error")</p>
		</div>
	}
} 	  	    
@getSuccess()= {
 	@if(flash.contains("success")) {
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>Sukses!</p>
		<p>@flash.get("success")</p>
		</div>
	}
}
@main("Manajemen Iklan"){

		@* Tambahkan java script dan css *@
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/jquery-ui-1.10.3.custom.min.js")"></script>
		<link href="@routes.Assets.at("css/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet">
		
		@dashboard_content("Manajemen Iklan","Tambah Banner","daftar campaign"){
		
		<div id="input_tab">
			<ul>
				<li><a href="#tabs-1">Pilih Zona </a></li>
				<li><a href="#tabs-2">Buat Banner</a></li>
			</ul>
			<div id="tabs-1">
																	
		@if(zones!=null){
			@form(action =controllers.backend.routes.CampaignController.saveBannerByPlacement(campaign.getId_campaign), 'class-> "form-horizontal") {
				<div class="content-padding">						
					@getSuccess
					@getError
					<h4>Pilih Lokasi Banner</h4>
					<h5>Pilih di zona mana banner akan ditempatkan</h5>
						@for((zone, index)<-zones.zipWithIndex){
							@if(zone(0)=="CHANNEL"){
								<h5>Channel : @zone(2)</h5>
							}else{
								<table style="padding:10px;margin-bottom:10px;">
									<tr>
										<td rowspan="3" style="padding:5px">
											<input type="radio" name="placement" id="placement" value="@zone(1)">
										</td>
										<td><div style="font-size:11px;font-weight:bold;">@zone(2)</div></td>
									</tr>
									<tr>
										<td><div style="font-size:10px">@zone(3)</div></td>
									</tr>
									<tr>
										<td><div style="font-size:10px;text-decoration:italic;">@zone(4)</div></td>
									</tr>									
								</table>
							}
							
						}
						</optgroup>
					</select>
					<p>Untuk melihat informasi zona tersebut lebih jauh, klik 
						<a target="_blank" href="@controllers.backend.routes.ZoneController.showZone()" style="color:blue">di Halaman zona</a>
					</p>
					</div>								
					<br>

				 <div class="form-actions">
				    <button type="submit" class="btn btn-primary">Lanjutkan</button>
				    <button type="reset" class="btn">Reset</button>
				</div> @*end form action *@		
				} @* End Form *@									
		}else{
				<div class="content-padding">
					<h4>Maaf, Belum ada zona kosong tersedia</h4>
					<h5>Hubungi Administrator untuk pemesanan iklan</h5>					
					<p><a href="@controllers.backend.routes.CampaignController.showCampaign(1)">
					Kembali ke menu campaign</a></p>
				</div>
		} @* end if *@
				</div>	@* End tab 1 *@	

			<div id="tabs-2">						
			</div> 
					
					
    <script type="text/javascript">
		$(document).ready(function() {
	    	$("#input_tab").tabs();
	    	$("#input_tab").tabs( "option", "disabled", [ 1 ] );
	    	$("#input_tab").tabs({ active: 0 });

			
			
		});
	</script>
   }



} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("campaign")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
