@(data: TemplateData, id_banner:Integer,zones:List[Zone])

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._

@getError() = {
	@if(flash.contains("error")) {
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<p>@flash.get("error")</p>
		</div>
	}
} 	  	    
@getSuccess()= {
 	@if(flash.contains("success")) {
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>Sukses!</p>
		<p>@flash.get("success")</p>
		</div>
	}
}


@main("Manajemen Iklan"){

		@* Tambahkan java script dan css *@
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/dataTables.min.js")"></script>
		<link href="@routes.Assets.at("css/table.css")" rel="stylesheet">
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/jquery-ui-1.10.3.custom.min.js")"></script>
		<link href="@routes.Assets.at("css/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet">
	
		@dashboard_content("Manajemen Iklan","Tambah Banner","daftar campaign"){
		
		<div id="input_tab">
			<ul>
				<li><a href="#tabs-1">Buat Banner</a></li>
				<li><a href="#tabs-2">Hubungkan Dengan Zona</a></li>
			</ul>
			<div id="tabs-1">
				
			</div>@* End tab 1 *@

			<div id="tabs-2">														
			@form(action =controllers.backend.routes.CampaignController.saveBannerPlacement(id_banner), 'class-> "form-horizontal") {
			<div class="content-padding">
				@getSuccess
				@getError
				<h4>Menentukan Penempatan Banner</h4>
				<h5>Pilih dimana banner akan ditempatkan(dapat lebih dari 1)</h5>

				<br>
				<select multiple="multiple" id="placement" name="placement[]" style="width: 500px">
					@for(zone<-zones){
						<option value="@zone.getId_zone">Channel : @zone.getZone_channel.getChannel_name | @zone.getZone_name  </option>
					}
					
				</select>
			</div>	
			<br>
<!--  				@for(zone<-zones){
					Nama	@zone.getZone_name  
					Width	@zone.getBanner_size.getWidth
					Height	@zone.getBanner_size.getHeight
					Type    @zone.getZone_type
					Channel @zone.getZone_channel.getChannel_name
					ID 		@zone.getId_zone
						<br>-->	
					} 
					
				 <div class="form-actions">
				    <button type="submit" class="btn btn-primary">Simpan</button>
				    <button type="reset" class="btn">Reset</button>
				</div> @*end form action *@		
				} @* End Form *@						
				</div>	@* End tab 2 *@						
			</div> 
					
					
    <script type="text/javascript">
		$(document).ready(function() {
	    	$("#input_tab").tabs();
	    	$("#input_tab").tabs( "option", "disabled", [ 0 ] );
	    	$("#input_tab").tabs({ active: 1 });
		
		});
	</script>
   }



} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("campaign")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
