@(data: TemplateData, campaign_form:Form[CampaignForm], campaign:Campaign, campaignData:CampaignFormData)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.views.html._

@getError() = {
	@if(flash.contains("error")) {
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<p>@flash.get("error")</p>
		</div>
	}
} 	  	    
@getSuccess()= {
 	@if(flash.contains("success")) {
		<div class="alert alert-success">
 		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>Sukses</p>
		<p>@flash.get("success")</p>
		</div>
	}
}
@generateError()={
	@if(campaign_form.hasErrors){
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<ul>
			@if(campaign_form.error("bidPrice")!=null){
				<li>
				@campaign_form.error("bidPrice").message()
				</li>
			}					
			@if(campaign_form.error("clickLimit")!=null){
				<li>
				@campaign_form.error("clickLimit").message()
				</li>
			}	
			@if(campaign_form.error("impressionLimit")!=null){
				<li>
				@campaign_form.error("impressionLimit").message()
				</li>
			}	
			@if(campaign_form.error("wrong")!=null){
				<li>
				@campaign_form.error("wrong").message()
				</li>
			}	
			@if(campaign_form.error("endDateRequired")!=null){
				<li>
				@campaign_form.error("endDateRequired").message()
				</li>
			}	
			@if(campaign_form.error("startDateRequired")!=null){
				<li>
				@campaign_form.error("startDateRequired").message()
				</li>
			}	
			@if(campaign_form.error("dateFormat")!=null){
				<li>
				@campaign_form.error("dateFormat").message()
				</li>
			}	
			@if(campaign_form.error("startDate")!=null){
				<li>
				@campaign_form.error("startDate").message()
				</li>
			}	
			@if(campaign_form.error("endDate")!=null){
				<li>
				@campaign_form.error("endDate").message()
				</li>
			}	
			@if(campaign_form.error("bug")!=null){
				<li>
				@campaign_form.error("bug").message()
				</li>
			}
			@if(campaign_form.error("description")!=null){
				<li>
				@campaign_form.error("description").message()
				</li>
			}																																																																	
			</ul>

		</div>
		
	}
}
@main("Manajemen Iklan"){
		
		@* Tambahkan java script dan css *@
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/jquery-ui-1.10.3.custom.min.js")"></script>
		<link href="@routes.Assets.at("css/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet">
		
		
		@dashboard_content("Manajemen Iklan","Ubah Campaign", "daftar campaign") {
			@form(action =controllers.backend.routes.CampaignController.updateCampaign(campaign.getId_campaign), 'class-> "form-horizontal") {		
			<div class="content-padding">
				<h4>Ubah Campaign @campaign.getCampaignName</h4>
					<h5 style="font-style: italic;">Ubah isi form untuk mengubah campaign</h5>
					@if(campaign_form.hasGlobalErrors){
						<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
		              		@campaign_form.globalError.message     	  	 	
						</div>
		      	  	}					
					@generateError	      	  	
		      	  	@getSuccess
		      	  	@getError   
		      	  	
		      	  	@* Form *@
	                      
	                    @* Pilih advertiser untuk administrator *@
	                    
	                    @restrict(la(as("administrator"))){	      	  	
								<input type="hidden" name="idUser" id="idUser" value="@campaign.getId_user.getId_user">		
						}
	                    @* Sudah ditentukan jika advertiser *@
						
							<input type="hidden" name="idCampaign" value="@campaign.getId_campaign">
		                @restrict(la(as("advertiser"))){	      	  	
							<input type="hidden" name="idUser" value="@data.getId">
						}
	                    @* Nama Campaign *@
						
						<div class="control-group">
							<label class="control-label"  for="channel_name">Nama Campaign</label>
							<div class="controls">
								<input type="text" placeholder="Nama Campaign"
									class="input-large" value="@campaign.getCampaignName" name="campaignName" id="campaignName">	                    
							 <p class="help-block">Nama dari campaign</p>					
					
							</div>
						</div>						
	                    @* Tipe Campaign *@
						
						<div class="control-group">
							<label class="control-label"  for="channel_name">Tipe Campaign</label>
							<div class="controls">
							@for(campaignType<-campaignData.getCampaignType){
								<input type="radio" @("checked".when(campaign.getCampaign_type.name==campaignType(0)))
									   @("disabled".when(campaign.getCampaign_type.name!=campaignType(0)))
									   placeholder="Tipe Campaign" id="@campaignType(0)" name="campaignType" value="@campaignType(0)">
										@campaignType(1)<br><div class="radio-description">@campaignType(2)</div>
							}
							</div>
						</div>
						<div id="date-block">
						@* Start Date*@
						<div class="control-group" id="startDate-block">
							<label class="control-label" for="channel_name">Mulai Campaign</label>
							<div class="controls">
								<input type="text" placeholder="DD/MM/YYYY" 
									class="input-large" value="@campaign.getStart_date_write_formatted" name="startDate" id="startDate">	                    
							 <p class="help-block">Kapan campaign mulai berjalan, format : DD/MM/YYYY</p>					
							</div>
						</div>		
						@* End Date*@					
						<div class="control-group" id="endDate-block">
							<label class="control-label" for="channel_name">Selesai Campaign</label>
							<div class="controls">
								<input type="text"  placeholder="DD/MM/YYYY" 
									class="input-large" value="@campaign.getEnd_date_write_formatted" name="endDate" id="endDate">	                    
							 <p class="help-block">Kapan campaign berakhir, format : DD/MM/YYYY</p>					
							</div>
						</div>
						</div>
	                    @* Pricing Model *@
						<div class="control-group" id="pricingModel-block">
							<label class="control-label"  for="channel_name">Model Perhitungan Biaya</label>
							<div class="controls">
							@for(pricingModel<-campaignData.getPricingModel){
								<input type="radio" @("checked".when(campaign.getPricing_model.name==pricingModel(0)))
									   placeholder="pricing model"  name="pricingModel" value="@pricingModel(0)" id="@pricingModel(0)">
										@pricingModel(1)<br><div class="radio-description">@pricingModel(2)</div>
							}
							</div>
						</div>
						<div id="contract-mode">															
						@* Impression Limit*@					
						<div class="control-group" id="impressionLimit-block">
							<label class="control-label" for="channel_name">Jumlah Impresi</label>
							<div class="controls">
								<input type="number" placeholder="Jumlah Impresi" class="input-large" 
									value="@campaign.getLimit_impression" 
								  name="impressionLimit" id="impressionLimit">	                    
							 <p class="help-block">Jumlah Impresi yang ingin didapatkan</p>					
							</div>
						</div>
						@* Click Limit*@					
						<div class="control-group" id="clickLimit-block">
							<label class="control-label" for="channel_name">Jumlah Klik </label>
							<div class="controls">
								<input type="number" placeholder="Jumlah Click" class="input-large" 
										value="@campaign.getLimit_click" name="clickLimit" id="clickLimit">	                    
							 <p class="help-block">Jumlah klik iklan yang ingin didapatkan</p>					
							</div>
						</div>				
						</div> @* end contract mode *@
						@*Bid Price*@					
						<div class="control-group" id="bidPrice-block">
							<label class="control-label" for="channel_name">Kesediaan Membayar</label>
							<div class="controls">
								<input type="number" placeholder="Kesediaan Membayar" class="input-large" 
										value="@campaign.getBid_price" 
										name="bidPrice" id="bidPrice">	  
							 <p class="help-block" id="bidPrice-help">Jumlah yang harus dibayar setiap satuan hitungan iklan (dalam rupiah)</p>					
							 <input style="" type="checkbox" id="default-check"> Biarkan Minimal ( IDR <span id="defaultPrice">@campaignData.getClickPrice tiap 1 klik</span>)             
							</div>
						</div>
											
						@*Deskripsi campaign*@					
						<div class="control-group" id="bidPrice-block">
							<label class="control-label" for="channel_name">Deskripsi</label>
							<div class="controls">
								<textarea rows="5" placeholder="Deskripsi Campaign" class="input-large" 
										name="description" id="description">@campaign.getDescription</textarea>  
								            
							 <p class="help-block">Deskripsi dari campaign</p>					
							</div>
						</div>													      	  		     
			 </div>
					
	
	        <div class="form-actions">
		         <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
	    	     <button type="reset" class="btn">Reset</button>
	    	     <a  class="btn btn-warning" href="@controllers.backend.routes.CampaignController.showSingleCampaign(campaign.getId_campaign)">
	    	     	Batal
	    	     </a>
	    	     
	        </div>
    }

    <script type="text/javascript">
		$(document).ready(function() {
			
	    	//Date picker

			   $( "#startDate" ).datepicker({
			      changeMonth: true,
			      numberOfMonths: 1,
			      dateFormat: 'dd/mm/yy',
			      defaultDate: '@campaign.getStart_date_write_formatted',
			      onClose: function( selectedDate ) {
			        $( "#endDate" ).datepicker( "option", "minDate", selectedDate );
			      }
			    });
			    $( "#endDate" ).datepicker({
			      changeMonth: true,
			      numberOfMonths: 1,
			      dateFormat: 'dd/mm/yy',
			      defaultDate: '@campaign.getEnd_date_write_formatted',			      
			      onClose: function( selectedDate ) {
				        $( "#startDate" ).datepicker( "option", "maxDate", selectedDate );

			      }
			    });
	    	 	//format date
			    $( "#endDate" ).datepicker("option","dateFormat","dd/mm/yy");
			    $( "#startDate" ).datepicker("option","dateFormat","dd/mm/yy");
		        $( "#startDate" ).datepicker( "option", "minDate", 0 );

		        function dateDiff(date1,date2,interval) {
		            var second=1000, minute=second*60, hour=minute*60, day=hour*24, week=day*7;
		            date1 = new Date(date1);
		            date2 = new Date(date2);
		            var timediff = date2 - date1;
		            if (isNaN(timediff)) return NaN;
		            switch (interval) {
		                case "years": return date2.getFullYear() - date1.getFullYear();
		                case "months": return (
		                    ( date2.getFullYear() * 12 + date2.getMonth() )
		                    -
		                    ( date1.getFullYear() * 12 + date1.getMonth() )
		                );
		                case "weeks"  : return Math.floor(timediff / week);
		                case "days"   : return Math.floor(timediff / day); 
		                case "hours"  : return Math.floor(timediff / hour); 
		                case "minutes": return Math.floor(timediff / minute);
		                case "seconds": return Math.floor(timediff / second);
		                default: return undefined;
		            }
		        }
	    		var campaignContract=$("#CONTRACT");
	    		var campaignExclusive=$("#EXCLUSIVE");
	    		
    			var dateBlock=$("#date-block");
    			var pricingModel=$("#pricingModel-block");
				var contractMode=$("#contract-mode");
				var pilihanFlat=$("#FLAT");
				var pilihanCPM=$("#CPM");
				var pilihanCPA=$("#CPA");

				
				campaignContract.change(function(){
					contractShow();
					console.log("contract show");
				});
				campaignExclusive.change(function(){
					exclusiveShow();
					console.log("exclusive show");
				});				
				var campaignSelected="@campaign.getCampaign_type.name";
				var priceModelSelected="@campaign.getPricing_model.name";

	    		function contractShow(){
	    			contractMode.show();
	    			dateBlock.hide();
	    			
	    			pilihanCPM.removeAttr("disabled");
	    			pilihanCPA.removeAttr("disabled");
	    			
	    			pilihanFlat.prop("disabled","true");
	    			pilihanFlat.removeAttr("checked");
	    			
	    		}
				function exclusiveShow(){
	    			contractMode.hide();
	    			dateBlock.show();
	    			pilihanCPA.prop("disabled","true");
	    			pilihanCPM.prop("disabled","true");
	    			pilihanCPA.removeAttr("checked");
	    			pilihanFlat.removeAttr("disabled");
	    			pilihanFlat.attr("checked","checked");
	    			pilihanFlat.prop("checked","checked");
	    			
	    			flatMode();
	    		}
				
				//fungsi untuk bagian default angka				
				var priceCPA=@(campaignData.getClickPrice);
				var priceCPM=@(campaignData.getImpressionPrice);
				var priceFlat=@(campaignData.getDailyPrice);
				var discountFactor=@(campaignData.getDiscountFactor);
				var bidPriceDefault;
				
				var clickLimit=$("#clickLimit");
				var impressionLimit=$("#impressionLimit");
				var bidPrice=$("#bidPrice");
				var defaultText=$("#defaultPrice");
				var bidPriceHelp=$("#bidPrice-help");
				var activeMode;
				function impressionMode(){
					bidPriceDefault=priceCPM;
					$("#clickLimit").prop("disabled","true");
					$("#clickLimit").val(0);
					$("#impressionLimit").removeAttr("disabled");
					$("#bidPrice").val(bidPriceDefault);
					$("#defaultPrice").html(bidPriceDefault+" Per 1000 Impressi");
					activeMode="CPM";
					console.log("impresi mode aktif");
					
				}
				function clickMode(){
					bidPriceDefault=priceCPA;
					$("#impressionLimit").prop("disabled","true");
					$("#clickLimit").removeAttr("disabled");					
					$("#defaultPrice").html(bidPriceDefault+" Per 1 klik");
					$("#bidPrice").val(bidPriceDefault);
					$("#impressionLimit").val(0);
					console.log("click mode aktif");

					activeMode="CPA";
				}
				function flatMode(){
					bidPriceDefault=priceFlat;
					$("#defaultPrice").html(bidPriceDefault+" Per hari + diskon");
			//		$("#bidPrice").val(bidPriceDefault);
					console.log("flat mode aktif");

					activeMode="FLAT";
				}
				//parse data dalam format dd/mm/yyyy
				function dateParse(input){
					var seplit=input.split("/");
					var date=new Date();
					date.setFullYear(seplit[2],seplit[1]-1,seplit[0]);
					return date;
					
				}
				function hitungBiaya(){
					if(activeMode=="CPM"){
						var bayar=($("input[name=impressionLimit]").val()*$("#bidPrice").val()/1000);
						$("#bidPrice-help").html("Estimasi Total Biaya = IDR " + bayar);
						$("#bidPrice-help").attr("style","color:red;");
						
						console.log($("input[name=impressionLimit]").val() +" * ini buat impressi "+$("#bidPrice").val()+"="+bayar);
					}else if(activeMode=="CPA"){
						var bayar=$("input[name=clickLimit]").val()*$("#bidPrice").val();
						$("#bidPrice-help").html("Estimasi Total Biaya = IDR " +bayar);				
						$("#bidPrice-help").attr("style","color:red;");
						console.log(bayar);
					
					}else if(activeMode=="FLAT"){
						var date1s=$("input[name=startDate]").val();
						var date2s=$("input[name=endDate]").val();
						var date1=dateParse(date1s);
						var date2=dateParse(date2s);
						
						var days=dateDiff(date1,date2,"days");
						var bayar=(days*$("#bidPrice").val())-(Math.floor(days/7)*discountFactor*$("#bidPrice").val()*7);
						$("#bidPrice-help").html("Estimasi Total Biaya = IDR " +bayar + "");						
						console.log(bayar+" HARI: "+days);

					}else{
						console.log("Bug ditemukan");
					}
				};
				
				bidPrice.change(function(){
					hitungBiaya();
					console.log("bid price berubaaah");
				});
				$("#impressionLimit").change(function(){
					hitungBiaya();
					console.log("impresion berubaaah");
				});
				$("#clickLimit").change(function(){
					hitungBiaya();
					console.log("click berubaaah");
				});	
				$("#startDate").change(function(){
					hitungBiaya();
					console.log("start berubaaah");
				});	
				$("#endDate").change(function(){
					hitungBiaya();
					console.log("end berubaaah");
				});					
				$("#default-check").click(function(){
					if($(this).is(":checked")){
						bidPrice.val(bidPriceDefault);
						hitungBiaya();
						bidPrice.prop("readonly","readonly");
					}else{
						bidPrice.val(bidPriceDefault);
						hitungBiaya();
						bidPrice.removeAttr("readonly");						
					}
				});
				$("input:radio[name=pricingModel]").click(function() {
				    var value = $("input:radio[name=pricingModel]:checked").val();
				    if(value=="CPM"){
				    	impressionMode();
				    }else if(value=="CPA"){
				    	clickMode();
				    }else if(value=="FLAT"){
				    	flatMode();
				    }
				});
				
				//default ketika pertama dijalankan
				function startPoint(){
					if(campaignSelected=="" || campaignSelected=="CONTRACT" ){
						contractShow();
						campaignContract.attr("checked","checked");
					}else if(campaignSelected=="EXCLUSIVE"){
							exclusiveShow();
							campaignExclusive.attr("checked","checked");
					}
				 //   var value = $("input:radio[name=pricingModel]:checked").val();
				 	var value=priceModelSelected;
				    if(value=="CPM"){
				    	impressionMode();
				    }else if(value=="CPA"){
				    	clickMode();
				    }else if(value=="FLAT"){
				    	flatMode();
				    }
					hitungBiaya();

					console.log("Start Poin perjalan");
				}
				startPoint();
				
		});
	</script>
	
	}

} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("campaign")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
