@(banners:List[Banner], target:List[Integer], size:BannerSize)
<a style="margin-bottom:3px;font-family:arial;float:right;font-size:12px;color:#929395;display:inline;" href="">Teknimo Ads Manager</a>
<div style="max-width:@(size.getWidth)px;max-height:@(size.getHeight)px;padding:20px 0 20px 0;">
	
	@for((banner,index)<-banners.zipWithIndex){
	
		<div id="adsItem" style="font-family:arial;max-width:70px;display:inline-block;max-width:300px;overflow: hidden;"> 
			<div id="image" style="display:table;float:left;width:60px;height:60px">
				<a href="@controllers.backend.routes.AdsDeliveryController.clickHandler(target.get(index))"><img style="width:60px;height:60px;padding:4px" alt="@banner.getAlt_text" src="@banner.getContent_link.getFileURL"></a>
			</div>
			<div id="adtext" style="padding:4px">
				<div id="title">
					<a href="@target" style="color:black;font-weight:bold;font-size:0.9em;">
						@(banner.getTitle)
					</a>
				</div>
				<div id="content_text">
					<div style="font-size:0.75em;padding-top:4px">@banner.getContent_text</div>
				</div>
			</div>
		</div>	
	}
</div>

