@(data: TemplateData, user_form:Form[UserForm])

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._

@getPage() = {
	@if(flash.contains("page")) {
		@flash.get("page")
	}else{
		kosong
	}        
} 	  	    
@getSuccess()= {
 	@if(flash.contains("success")) {
		@flash.get("success")
	}else{
		kosong
	}
}

@main("Manajemen Pengguna"){

		@* Tambahkan java script dan css *@
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/dataTables.min.js")"></script>
		<link href="@routes.Assets.at("css/table.css")" rel="stylesheet">
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("js/jquery-ui-1.10.3.custom.min.js")"></script>
		<link href="@routes.Assets.at("css/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet">
	
		@dashboard_content("Manajemen Pengguna","Tambah Pengguna","tambah pengguna"){
		
		<div id="input_tab">
			<ul>
				<li><a href="#tabs-1">Informasi Dasar</a></li>
				<li><a href="#tabs-2">Informasi Tambahan</a></li>
				<li><a href="#tabs-3">Foto Identitas</a></li>
			</ul>
			<div id="tabs-1">
				<div class="content-padding">
					<h4>Tambah Pengguna dengan 3 Langkah</h4>
					<h5 style="font-style: italic;">Isi informasi pengguna dasar</h5>
				@if(user_form.hasGlobalErrors){
					<div class="alert alert-error">
	              		@user_form.globalError.message     	  	 	
					</div>
	      	  	}
				 </div>
				 
					@* form untuk informasi dasar *@
					@form(action =controllers.backend.routes.UserController.saveUser(), 'class-> "form-horizontal") {
						@* NAMA DEPAN *@																			
						<div class="content-padding @("error".when(user_form.error("front_name")!=null))">
							<div class="control-group">
								<label class="control-label" for="channel_name">Nama Depan *</label>
								<div class="controls">
									<input type="text" required="required" class="input-large" placeholder="nama depan" value="@user_form("front_name").value" name="front_name" id="front_name">	                    
				               		@if(user_form.error("front_name")!=null){
				               			<p class="help-block">
				               			@user_form.error("frontName").message()
				               			</p>
				               		}else{
				               		  <p class="help-block">Nama depan pengguna</p>
				               		 }					
								</div>
							</div>
						
						@* NAMA BELAKANG *@																		
							
							<div class="control-group">
								<label class="control-label" for="channel_name">Nama Belakang</label>
								<div class="controls">
									<input type="text" placeholder="nama belakang" class="input-large" value="@user_form("last_name").value" name="last_name" id="last_name">	                    								 
								 	<p class="help-block">Nama belakang pengguna</p>													 
								</div>
							</div>	
								
							@* EMAIL  *@																		
							<div class="control-group @("error".when(user_form.error("email")!=null)) ">
								<label class="control-label" for="channel_name">Email utama *</label>
								<div class="controls">
									<input type="text" required="required" placeholder="email utama" class="input-large" value="@user_form("email").value" name="email" id="email">	                    
				               		@if(user_form.error("email")!=null){
				               			<p class="help-block">
				               			@user_form.error("email").message()
				               			</p>
				               		}else{
				               			@if(user_form.error("email_valid")!=null){
					               			<p class="help-block">
					               				@user_form.error("email_valid").message()
					               			</p>				               				
				               			}else{
				               			 <p class="help-block">Email yang digunakan untuk login pengguna</p>
				               			}	
				               		}				
								</div>
							</div>	
							
							@* PERUSAHAAN *@
							<div class="control-group">
								<label class="control-label" for="channel_name">Perusahaan</label>
								<div class="controls">
									<textarea class="input-large" placeholder="perusahaan" name="company" id="company">@user_form("company").value</textarea>                    
								 <p class="help-block">Nama Perusahaan Pengguna</p>					
								</div>
							</div>	
							@* KOTA *@
							<div class="control-group">
								<label class="control-label" for="channel_name">Kota Domisili</label>
								<div class="controls">
									<input type="text" placeholder="kota" class="input-large" value="@user_form("city").value" name="city" id="city">	                    
								 <p class="help-block">Kota tempat pengguna tinggal</p>					
								</div>
							</div>
							@* NEGARA*@
							<div class="control-group">
								<label class="control-label" for="channel_name">Negara</label>
								<div class="controls">
									<input type="text" placeholder="negara" class="input-large" value="@user_form("country").value" name="country" id="country">	                    
								 <p class="help-block">Negara tempat pengguna tinggal</p>					
								</div>
							</div>	
							@* Posisi *@
							<div class="control-group">
								<label class="control-label" for="channel_name">Posisi</label>
								<div class="controls">
								<select name="role">
									<option value="ADVERTISER" selected="selected">Advertiser</option>
									<option value="ADMINISTRATOR">Administrator</option>
									<option value="MANAGER">Manager</option>
								</select>
								 <p class="help-block">Posisi pada sistem</p>					
								</div>
							</div>							
							@* Password *@
							<div class="control-group @("error".when(user_form.error("password")!=null)) 
									@("error".when(user_form.error("password_sama")!=null)) ">
								<label class="control-label" for="channel_name">Password *</label>
								<div class="controls">
									<input type="password" placeholder="password" required="required" class="input-large" name="password" id="password">	                    
				               		@if(user_form.error("password")!=null){
				               			<p class="help-block">
				               			@user_form.error("password").message()
				               			</p>
				               		}else{
					               		@if(user_form.error("password_sama")!=null){
					               			<p class="help-block">
					               			@user_form.error("password_sama").message()
					               			</p>
					               		}else{
				               				 <p class="help-block">Password untuk autentifikasi login</p>
					               		}					               			
				               		}
								</div>
							</div>
							@* Password REPEAT *@
							<div class="control-group @("error".when(user_form.error("password_sama")!=null))">
								<label class="control-label" for="channel_name">Password Lagi *</label>
								<div class="controls">
									<input type="password" required="required" placeholder="ulangi password" class="input-large" name="password_repeat" id="password_repeat">	                    
				               		@if(user_form.error("password_sama")!=null){
				               			<p class="help-block">
				               			@user_form.error("password_sama").message()
				               			</p>
				               		}else{
				               			 <p class="help-block">Ulangi masukan password</p>
				               		}							
				               </div>
							</div>																																				
						</div>
						
			     <div class="form-actions">
				      <button type="submit" class="btn btn-primary">Simpan Dan Lanjut</button>
				      <button type="reset" class="btn">Reset</button>
				 </div>					
				 } @* end form *@	
			</div>@* End tab 1 *@
			
			<div id="tabs-2">
						
			</div> @* End tab 2 *@
			
			<div id="tabs-3">
			</div>
		</div>	
    <script type="text/javascript">
		$(document).ready(function() {
	    	$("#input_tab").tabs();
	    	$("#input_tab").tabs( "option", "disabled", [ 1, 2 ] );
	    	$("#input_tab").tabs({ active: 0 });
			
	    	
	    	  $(function() {
	    		    var negara = [
	    		      "Indonesia",
	    		      "Malaysia",
	    		      "Timor Leste",
	    		      "Amerika Serikat",
	    		      "Singapura",
	    		      "Jepang",
	    		    ];
	    		    $( "#country" ).autocomplete({
	    		      source: negara
	    		    });
	    		  });
		});
	</script>
   }



} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("user")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
