@(data: TemplateData)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._

@main("Manajemen Pengguna"){
	
		@dashboard_content("Manajemen Pengguna","Tambah Pengguna","tambah pengguna"){

		  @lorem()

		@form(action =controllers.backend.routes.UserController.saveUser(), 'enctype -> "multipart/form-data") {
	    
				    <input type="file" name="picture">
				    
				    <p>
				        <input type="submit">
				    </p>
			}
    <div class="form-actions">
	       <button type="submit" class="btn btn-primary">Save changes</button>
         <button type="reset" class="btn">Cancel</button>
    </div>
    }



} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("user")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
