@(data: TemplateData, user:User)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._
@import scala._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.views.html._
@main("Manajemen Pengguna"){
	
		@dashboard_content("Manajemen Pengguna","Detail Pengguna","daftar pengguna"){
  			
		    <div class="content-padding">
		      <a class="btn" href="@controllers.backend.routes.UserController.showUser()">&larr; Ke Daftar User</a>		      
		      <br/><br/>
		       @if(user==null){
		       	<h5>Maaf, data pengguna tidak ditemukan</h5>
		       }else{
			       @* jika selesai edit, maka akan dialihkan kesini *@
			       
			       @if(flash.contains("success")) {
			           	<div class="alert alert-info">
							  @flash.get("success")
			            </div>
			       }      
			       @if(flash.contains("error")) {
			           	<div class="alert alert-info">
							  @flash.get("error")
			            </div>
			       }   			       
			      <h4>Detail Untuk :  @user.getFront_name</h4>
			      <table class="single-view">
			        	<tr class="edit_basic">
			        		<td></td>
			        		<td colspan="2">
				     		 	<a style="float:left;" class="btn btn-mini" 
				     		 		href="@controllers.backend.routes.UserController.editUserBasic(user.getId_user)">
				     		 		Ubah Informasi Dasar
				     		 	</a> 				        		
			        		</td>		
			        	</tr>			        		        
			        <tr>
			          <td id="td_profile" style="padding-right:12px;" rowspan="@(11+user.getUserContact.size*2)">
			     		 <div style="display:block;">
				     		 @if(user.getProfile_photo!=null){
				 	    		 <img id="profile" src="@user.getProfile_photo.getFileURL" width="250px" height="250px"></img>			     		 
				     		 }else{
				     		 	@default_profile_pic()
				     		 }
				     		 <div class="edit_picture"><a class="btn btn-mini" 
				     		 							  href="@controllers.backend.routes.UserController.editUserPicture(user.getId_user)">Ubah Gambar</a></div> 	
			    		</div>
			         </td>
			          <td>Nama Lengkap </td><td>:</td>
			          <td>@user.getFront_name @user.getLast_name</td>
			        </tr>
			         <tr>
			          <td>Email Utama</td><td>:</td>
			          <td><a href="mailto:@user.getEmail">@user.getEmail</a></td>
			        </tr>
			        <tr>
			          <td>Perusahaan</td><td>:</td>
			          <td>@user.getCompany</td>
			        </tr>
			        <tr>
			          <td>Tanggal Bergabung</td><td>:</td>
			          <td>@user.getJoin_date_formatted</td>
			        </tr>
			        <tr>
			          <td>Total Saldo</td><td>:</td>
			          <td>@user.getCurrent_balance</td>
			        </tr>
			        <tr>
			          <td>Posisi</td><td>:</td>
			          <td>@user.getRole.getName</td>
			        </tr>     
			        <tr>
			        <tr>
			          <td>Kota Domisili</td><td>:</td>
			          <td>@user.getCity</td>
			        </tr>     
			        <tr>
			        <tr>
			          <td>Negara</td><td>:</td>
			          <td>@user.getCountry</td>
			        </tr>     
			        <tr>			        			        
			          <td>Status Akun</td><td>:</td>
			          <td>@("Aktif".when(user.isActive)) @("Tidak Aktif".when(!user.isActive))</td>
			        </tr>

			        @for(contact<-user.getUserContact){
				        <tr>
				           <td>@contact.getContact_type.toString</td><td>:</td>
				        	<td>@Html(contact.getContact_value_link)</td>		
				        </tr>			          	
				        <tr>
				        	<td></td><td></td>
				        	<td><span style="font-size:13px;font-style: italic;">@contact.getContact_description</span></td>
				        </tr>
			        	<tr class="edit_contact">
			        		<td class="garis" colspan="3"><nobr>
				     		 	<a style="display:inline;float:left;display: table" class="btn btn-mini" 
				     		 	    href="@controllers.backend.routes.UserController.editUserContact(contact.getId_user_contact)">
				     		 	    Ubah
				     		 	 </a> 			 		        		
				     		 	<a style="display:inline;float:left;margin:0 5px 10px 5px;" 
				     		 	   class="btn btn-mini btn-danger" data-toggle="modal" type="submit"  role="button" 
				     		 	   href="#confirm_modal@(contact.getId_user_contact)">
				     		 	   Hapus
				     		 	 </a> </nobr>				        		 				        		
			        		
			        		</td>		
			        	</tr>	
						@**********Modal hapus item*********@
						<div id="confirm_modal@(contact.getId_user_contact)" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="banner_modal" aria-hidden="true">
							<div class="modal-header">
					    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    		<h4 id="label">Hapus Informasi Pengguna</h4>
					  		</div>
							 <div class="modal-body">
								<h5>Yakin Mau menghapus @(contact.getContact_type.toString)?</h5>
			  				</div>
			  				<div class="modal-footer">
							   <a class="btn btn-warning" 
							   		href="@controllers.backend.routes.UserController.deleteContact(contact.getId_user_contact)">
							   		Hapus
							   	</a>  					
							   <button class="btn"  data-dismiss="modal" aria-hidden="true">Batal</button>
							</div>
							
						</div>			        			        	
			        } @* end for *@
			        	<tr class="add_contact">
			        		<td colspan="3">
				     		 	<a style="float:right;margin:20px 5px 0 5px" class="btn btn-mini btn-success" 
				     		 	   href="@controllers.backend.routes.UserController.addUserContact(user.getId_user)">Tambah Data</a>
			        		</td>		
			        	</tr>				        	
			      </table>
			      </div>
			    @restrict(la(as("administrator"))){      
				     <div class="form-actions">
				        <form  style="display:inline">
				    	       <button type="button" onclick="buttonClick()" id="ubah" class="btn btn-primary">Ubah Pengguna</button>
				     	 </form>
				        <a  href="#confirm_modal_hapus" role="button" data-toggle="modal" style="display:inline"
				             class="btn btn-danger" type="submit"> Hapus Pengguna
				     	</a>   
				        <a href="#confirm_modal_reset" role="button" data-toggle="modal" style="margin-left:10px;display:inline"
				             class="btn btn-info" type="submit"> Reset Password 
				     	</a>
				     	@if(user.isActive){
				        	<a href="#confirm_modal_nonaktifkan" id="aktifkan" role="button" data-toggle="modal" style="margin-left:10px;display:inline"
				           		  class="btn btn-warning" type="submit"> Non Aktifkan
				     		</a>
				     	}else{
					     	<a href="#confirm_modal_nonaktifkan" id="aktifkan" role="button" data-toggle="modal" style="margin-left:10px;display:inline"
				           		  class="btn btn-warning" type="submit"> Aktifkan
				     		</a>	
				     	}			     	  				      
				    </div>
				 }
			@**********Modal reset*********@
			<div id="confirm_modal_reset"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="banner_modal" aria-hidden="true">
				<div class="modal-header">
		    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    		<h3 id="label">Reset Password</h3>
		  		</div>
				 <div class="modal-body">
					<h4>Yakin Mau Mereset Password @user.getFront_name ?</h4>
					<p class="alert alert-warning" style="color:#000">
						Password baru akan di kirim melalui email pengguna dan email administrator
					</p>
  				</div>
  				<div class="modal-footer">
				   <a class="btn btn-warning" 
				   		href="@controllers.backend.routes.UserController.resetPassword(user.getId_user)">
				   		Reset Password
				   	</a>  					
				   <button class="btn"  data-dismiss="modal" aria-hidden="true">Batal</button>
				</div>
				
			</div>	
			@**********Modal Delete*********@
			<div id="confirm_modal_hapus"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="banner_modal" aria-hidden="true">
				<div class="modal-header">
		    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    		<h3 id="label_hapus">Hapus Pengguna</h3>
		  		</div>
				 <div class="modal-body">
					<h4>Yakin Mau menghapus @user.getFront_name ?</h4>
					<p class="alert alert-warning" style="color:#000">
						Sebelum menghapus, pengguna tidak memiliki iklan, kampanye, laporan, riwayat dan data terkait lainnya<br>
						Semua data pengguna, termasuk foto, saldo, riwayat, dan sebagainya akan terhapus tanpa bisa dikembalikan<br>
						
					</p>
					
  				</div>
  				<div class="modal-footer">
				   <a class="btn btn-warning" 
				   		href="@controllers.backend.routes.UserController.deleteUser(user.getId_user)">
				   		Saya Mengerti Semua Resiko dan Hapus Saja
				   	</a>  					
				   <button class="btn"  data-dismiss="modal" aria-hidden="true">Saya Takut, Batal Saja</button>
				</div>
				
			</div>
			@**********Modal Nonaktifkan*********@
			<div id="confirm_modal_nonaktifkan"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="banner_modal" aria-hidden="true">
				<div class="modal-header">
		    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    		<h3 id="label_nonaktifkan"></h3>
		  		</div>
				 <div class="modal-body">
					<h4>Yakin Mau Merubah Aktif Tidaknya @user.getFront_name ?</h4>
					<p class="alert alert-warning" style="color:#000">Pengguna yang non aktif tidak bisa masuk ke sistem</p>
  				</div>
  				<div class="modal-footer">
				   <a class="btn btn-warning" 
				   		href="@controllers.backend.routes.UserController.activate(user.getId_user)">
				   		Ya, Saya Yakin
				   	</a>  					
				   <button class="btn"  data-dismiss="modal" aria-hidden="true">Batalkan Saja</button>
				</div>			
			</div>						
			<script type="text/javascript">

			@("var state=0;".when(flash.get("edit")==null))
			@("var state=1;".when(flash.get("edit")!=null))			
			var duration=500;
			var duration_hide=0;
			function buttonClick(){
				if(state==1){
					showEdit(duration);
					state=0;
					console.log("anu");
				}else{
					hideEdit(duration);
					state=1;
					console.log("una"+state);
					
				}
			}
			function init(){
				if(state==1){
					showEdit(duration_hide);
					state=0;
					console.log("anu");
				}else{
					hideEdit(duration_hide);
					state=1;
					console.log("una"+state);
				}
				var konten=$("#aktifkan").value();
				$("#label_nonaktifkan").html(konten);
			}			
			var edit_picture=$(".edit_picture");
			var edit_basic=$(".edit_basic");
			var edit_contact=$(".edit_contact");
			var picture = $("#profile");
			var button = $("#ubah");
			var table= $(".single-view");				
			var td_profile=$("#td_profile");
			var add_contact=$(".add_contact");
			init();
			
			
			function showEdit(duration){
				edit_picture.show();
				edit_basic.show(duration);
				edit_contact.show(duration);
				add_contact.show(duration);
				picture.addClass("edit_picture_black");
				table.addClass("edit_basic_black");
				edit_picture.children().show(duration);
				edit_basic.children().show(duration);
				edit_contact.children().show(duration);
				add_contact.children().show(duration);
				button.html("Selesai Ubah");
				td_profile.attr("rowspan","@(12+user.getUserContact.size*3)");
				
			}
			function hideEdit(duration){
				edit_picture.hide(duration);
				edit_basic.hide(duration);
				edit_contact.hide(duration);
				add_contact.hide(duration);
				picture.removeClass("edit_picture_black");
				table.removeClass("edit_basic_black");
				button.html("Ubah Pengguna");

				edit_picture.children().hide(duration);
				edit_basic.children().hide(duration);
				edit_contact.children().hide(duration);
				add_contact.children().hide(duration);
				td_profile.attr("rowspan","@(12+user.getUserContact.size*2)");

			}
			</script>    
			    
 		} @*end if *@
 		
 	}


} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("user")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
