@(data: TemplateData ,contact_form:Form[ContactForm], formData:UserContactData, user:User)

@import views.html.ui_component._
@import views.html.backendView.main
@import helper._

@getError() = {
	@if(flash.contains("error")) {
		<div class="alert alert-error">
			<p>@flash.get("error")</p>
		</div>
	}
} 	  	    
@getSuccess()= {
 	@if(flash.contains("success")) {
		<div class="alert alert-success">
		<p>Sukses!</p>
		<p>@flash.get("success")</p>
		</div>
	}
}

@main("Manajemen Pengguna"){

		@dashboard_content("Manajemen Pengguna","Tambah Informasi","tambah pengguna"){
		
		@form(action =controllers.backend.routes.UserController.newUserContact(user.getId_user), 'class-> "form-horizontal") {
						<div class="content-padding">  					
							<h4>Tambah Informasi Pengguna</h4>
							<h5 style="font-style: italic;">Menambah informasi baru untuk @user.getFront_name  </h5>
								@getSuccess()
								@getError()	
								@if(contact_form.hasErrors){
									<div class="alert alert-error">
										<p>Penyimpanan Gagal</p>
										<p>Ada form yang belum di isi</p>
									</div>
						      	}									
						</div>
						
							@* form untuk informasi dasar *@	
						<div class="content-padding">
							<div class="control-group">
								<label class="control-label" for="channel_name">Jenis Informasi</label>
								<div class="controls">
									<select name="contact_type">
										@for(data<-formData.getData){
											<option @("selected".when(data(0)==contact_form("contact_type").value))
													value="@data(0)">@data(1)</option>
										}
									</select>
									<p class="help-block">Jenis dari informasi</p>													 
								</div>
							</div>
										
							<div class="control-group">
								<label class="control-label"  for="channel_name">Isi Informasi *</label>
								<div class="controls">
									<textarea rows="3"  placeholder="isi informasi" name="value" id="value">@contact_form("value").value</textarea>	                  
									<p class="help-block">Isi informasi, tergantung jenisnya</p>													 
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="channel_name">Deskripsi Informasi  </label>
								<div class="controls">
									<textarea rows="4" placeholder="Deskripsi informasi" class="input"  name="description" id="description">@contact_form("description").value</textarea>	                    								 
								 	<p class="help-block">Deskripsi dari informasi</p>													 
								</div>
							</div>																	
						</div> @*end content padding *@
																				
					    	 
				 <div class="form-actions">
				    <button type="submit" class="btn btn-primary">Simpan Data</button>
				    <button type="reset" class="btn">Reset</button>
						
					<a href="@controllers.backend.routes.UserController.editUser(user.getId_user)" 
						  	role="button" data-toggle="modal" title="Selesai dan lanjut ke langkah selanjutnya" >
						<button type="button" title="Batal dan kembali ke daftar Pengguna" class="btn btn-info">Batal</button>
					</a>							   
				</div> @*end form action *@					
				</div>	} @*end form *@ 		
				
		</div>	

   }



} {
  
  @* Untuk bagian Menu *@
  
  @menu_dashboard("user")

} {
  
  @* Untuk bagian menu profile *@
  @menu_profile(data)

}
