@(title:String,subtitle:String,activeMenu:String="")(content:Html)

           <div id="content">
                <!-- navbar -->
                <section id="stats">
                  <header>
                    <h1>@title</h1>
                  </header>

                  <div class="row-fluid bar-sub-menu">
                  @if(title=="Zona"){
                  	@zoneMenu(activeMenu)
                  }  					
                  </div>
                </section>

                <!-- section 2-->
                 <section id="forms">
                  <div class="sub-header">
                    <h2>@subtitle</h2>
                  </div>
					@content
                </section>
              
            </div>
            
            
@zoneMenu(activeMenu:String)={

      <div class="span2 sub-menu @("active".when(activeMenu=="daftar zona"))">
          <div class="icon"></div>

         <a class="content" href="#">
            <div class="kpi">Daftar Zona</div>
            <div class="small">Lihat Semua Zona</div>
         </a>
        </div>

      <div class="span2 sub-menu @("active".when(activeMenu=="daftar channel"))">
          <div class="icon"></div>

         <a class="content" href="#">
            <div class="kpi">Daftar Channel</div>
            <div class="small">Lihat Semua Zona</div>
         </a>
        </div>    

      <div class="span2 sub-menu @("active".when(activeMenu=="tambah zona"))">
            <div class="icon"></div>

         <a class="content" href="#">
            <div class="kpi">Tambah Zona</div>
            <div class="small">Lihat Semua Zona</div>
         </a>
        </div>    

      <div class="span2 sub-menu @("active".when(activeMenu=="tambah channel"))">
            <div class="icon"></div>

         <a class="content" href="#">
            <div class="kpi">Tambah Channel</div>
            <div class="small">Lihat Semua Zona</div>
         </a>
        </div>    
}
@campaignMenu(activeMenu:String="")={
      	<div class="span2 sub-menu">
            <div class="kpi">Daftar Iklan</div>
             <div><small>Lihat Semua Iklan</small></div>
        </div>		
       	<div class="span2 sub-menu">
            <div class="kpi">Tambah Iklan</div>
             <div><small>Tambahkan Iklan</small></div>
        </div>
}
@financeMenu(activeMenu:String="")={
     	<div class="span2 sub-menu">
            <div class="kpi">Daftar Transaksi</div>
             <div><small>Daftar Transaksi</small></div>
        </div>		

}
@profileMenu(activeMenu:String="")={
     	<div class="span2 sub-menu">
            <div class="kpi">Profil Pengguna</div>
             <div><small>Lihat Profil</small></div>
        </div>		
       	<div class="span2 sub-menu">
            <div class="kpi">Notifikasi</div>
             <div><small>Lihat daftar Notifikasi</small></div>
        </div>
        <div class="span2 sub-menu">
            <div class="kpi">Rubah Profil</div>
             <div><small>Rubah data profil</small></div>
        </div>

}
@reportMenu(activeMenu:String="")={
     	<div class="span2 sub-menu">
            <div class="kpi">Semua Laporan</div>
             <div><small>Lihat Semua Laporan</small></div>
        </div>		

}
@userMenu(activeMenu:String="")={
     	<div class="span2 sub-menu">
            <div class="kpi">Daftar Pengguna</div>
             <div><small>Lihat Semua Pengguna/small></div>
        </div>		
       	<div class="span2 sub-menu">
            <div class="kpi">Tambah Pengguna</div>
             <div><small>Tambahkan Pengguna</small></div>
        </div>

	}
	
@dashboardMenu(activeMenu:String="")={

     	<div class="span2 sub-menu">
            <div class="kpi">Menu</div>
             <div><small>Testing</small></div>
        </div>		
	}
