@(title:String,subtitle:String,activeMenu:String="")(content:Html)

@import scala._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.views.html._

           <div id="content">
                <!-- navbar -->
                <section id="stats">
                  <header>
                    <h1>@title</h1>
                  </header>

                  <div class="row-fluid bar-sub-menu">
                  @if(title=="Zona dan Channel"){
                  	@zoneMenu(activeMenu)
                  }
                  @if(title=="Manajemen Pengguna"){
                    @userMenu(activeMenu)
                  }  
                  @if(title=="Profil Pengguna"){
                    @profileMenu(activeMenu)
                  } 
                  @if(title=="Manajemen Iklan"){
                  	@campaignMenu(activeMenu)
                  }
                  @if(title=="Pengaturan"){
                  	@settingMenu(activeMenu)
                  }
                  @if(title=="Keuangan"){
                  	@financeMenu(activeMenu)
                  }                  				                  
               					
                  </div>
                </section>

                <!-- section 2-->
                 <section id="forms">
                  <div class="sub-header">
                    <h2>@subtitle</h2>
                  </div>
	              	  <div class="content">
						    @content
					  </div>
                </section>
              
            </div>
            
            
@zoneMenu(activeMenu:String)={

      <a  class="span2 sub-menu @("active".when(activeMenu=="daftar zona"))"
          href="@controllers.backend.routes.ZoneController.showZone()">
          <div class="icon"></div>

         <div class="content" >
            <div class="kpi">Daftar Zona</div>
            <div class="small">Lihat Semua Zona</div>
         </div>
        </a>

      <a class="span2 sub-menu @("active".when(activeMenu=="daftar channel"))"
          href="@controllers.backend.routes.ZoneController.showChannel()"  >
          <div class="icon"></div>

         <div class="content">
            <div class="kpi">Daftar Channel</div>
            <div class="small">Lihat Semua Channel</div>
         </div>
        </a>    
    @restrict(List(as("administrator"))){ 
      <a class="span2 sub-menu @("active".when(activeMenu=="tambah zona"))"
            href="@controllers.backend.routes.ZoneController.createZone()">
            <div class="icon"></div>

         <div class="content">
            <div class="kpi">Tambah Zona</div>
            <div class="small">Tambahkan Zona Baru</div>
         </div>
        </a>    
     }
    @restrict(la(as("administrator"))){
      <a class="span2 sub-menu @("active".when(activeMenu=="tambah channel"))"
          href="@controllers.backend.routes.ZoneController.createChannel()">
            <div class="icon"></div>

         <div class="content">
            <div class="kpi">Tambah Channel</div>
            <div class="small">Tambahkan Channel Baru</div>
         </div>
      </a>    
    }
}
@campaignMenu(activeMenu:String="")={
      <a  class="span2 sub-menu @("active".when(activeMenu=="daftar campaign"))"
          href="@controllers.backend.routes.CampaignController.showCampaign(1)">
          <div class="icon"></div>

         <div class="content" >
            <div class="kpi">Daftar Iklan</div>
            <div class="small">Lihat Semua iklan</div>
         </div>
        </a>
  @restrict(la(as("administrator"), as("advertiser"))){                             
      <a class="span2 sub-menu @("active".when(activeMenu=="tambah campaign"))"
          href="@controllers.backend.routes.CampaignController.newCampaign()">
          <div class="icon"></div>
         <div class="content" >
            <div class="kpi">Buat Iklan Baru</div>
            <div class="small">Buat sebuah iklan</div>
         </div>
        </a>    
    }    
}
@settingMenu(activeMenu:String="")={
  	@restrict(la(as("administrator"))){                     
      <a  class="span2 sub-menu @("active".when(activeMenu=="pengaturan biaya"))"
          href="@controllers.backend.routes.SettingController.showSetting(1)">
          <div class="icon"></div>

         <div class="content" >
            <div class="kpi">Pengaturan Biaya</div>
            <div class="small">Mengatur Biaya Iklan</div>
         </div>
        </a>
      <a class="span2 sub-menu @("active".when(activeMenu=="pengaturan iklan"))"
          href="@controllers.backend.routes.SettingController.showSetting(2)">
          <div class="icon"></div>
         <div class="content" >
            <div class="kpi">Pengaturan Iklan</div>
            <div class="small">Mengatur tampilan iklan</div>
         </div>
        </a> 
      <a class="span2 sub-menu @("active".when(activeMenu=="pengaturan konten"))"
          href="@controllers.backend.routes.SettingController.showSetting(2)">
          <div class="icon"></div>
         <div class="content" >
            <div class="kpi">Pengaturan Konten</div>
            <div class="small">Mengatur Konten</div>
         </div>
        </a>            
    }    
}
@financeMenu(activeMenu:String="")={
      <a class="span2 sub-menu @("active".when(activeMenu=="riwayat transaksi"))"
          href="@controllers.backend.routes.FinanceController.index()">
         <div class="icon"></div>
         <div class="content" >
            <div class="kpi">Riwayat Transaksi</div>
            <div class="small">Melihat Riwayat Transaksi</div>
         </div>
        </a>  		
    @restrict(la(as("advertiser"))){                     
      <a class="span2 sub-menu @("active".when(activeMenu=="pembayaran-advertiser"))"
          href="@controllers.backend.routes.FinanceController.newConfirmation()">
          <div class="icon"></div>
         <div class="content" >
            <div class="kpi">Pembayaran</div>
            <div class="small">Melakukan Pembayaran</div>
         </div>
        </a> 
      }
    @restrict(la(as("manager"))){                     
      <a class="span2 sub-menu @("active".when(activeMenu=="pembayaran-manager"))"
          href="@controllers.backend.routes.FinanceController.listConfirmation("")">
          <div class="icon"></div>
         <div class="content" >
            <div class="kpi">Validasi Pembayaran</div>
            <div class="small">Pembayaran Dari Pengiklan</div>
         </div>
        </a> 
      
      <a class="span2 sub-menu @("active".when(activeMenu=="tambah-saldo"))"
          href="@controllers.backend.routes.FinanceController.newDeposito()">
          <div class="icon"></div>
         <div class="content" >
            <div class="kpi">Tambah Saldo</div>
            <div class="small">Menambah Saldo Pengiklan</div>
         </div>
        </a> 
      }       
}
@profileMenu(activeMenu:String="")={
      <a  class="span2 sub-menu @("active".when(activeMenu=="data profil"))"
          href="@controllers.backend.routes.ProfileController.showProfile()">
          <div class="icon"></div>

         <div class="content" >
            <div class="kpi">Profil Pengguna</div>
            <div class="small">Lihat Data Profil</div>
         </div>
        </a>     
        	
       <a  class="span2 sub-menu @("active".when(activeMenu=="notifikasi"))"
          href="@controllers.backend.routes.NotificationController.notifPage(1)">
          <div class="icon"></div>

         <div class="content" >
            <div class="kpi">Notifikasi</div>
            <div class="small">Lihat Daftar Notifikasi</div>
         </div>
        </a>    	

}
@reportMenu(activeMenu:String="")={
     	<div class="span2 sub-menu">
            <div class="kpi">Semua Laporan</div>
             <div><small>Lihat Semua Laporan</small></div>
        </div>		

}
@userMenu(activeMenu:String="")={
  
  @restrict(la(as("administrator"), as("manager"))){                     
      <a class="span2 sub-menu @("active".when(activeMenu=="daftar pengguna"))"
          href="@controllers.backend.routes.UserController.showUser()">
            <div class="icon"></div>

         <div class="content">
            <div class="kpi">Daftar Pengguna</div>
            <div class="small">Tampilkan Pengguna</div>
         </div>
      </a>    
    }

  @restrict(la(as("administrator"))){                     
      <a class="span2 sub-menu @("active".when(activeMenu=="tambah pengguna"))"
          href="@controllers.backend.routes.UserController.createUser()">
            <div class="icon"></div>

         <div class="content">
            <div class="kpi">Tambah Pengguna</div>
            <div class="small">Tambah pengguna baru</div>
         </div>
      </a>    
    }
}
	
@dashboardMenu(activeMenu:String="")={

     	<div class="span2 sub-menu">
            <div class="kpi">Menu</div>
             <div><small>Testing</small></div>
        </div>		
}
