@(data: TemplateData, activeMenu : String ="")

@* Menggenerate Menu dashboard 
	Daftar menu
	-> Dashboard Home
	   Statistik

	-> Halaman Depan
	-> Manajemen Pengguna
	-> Iklan Dan Kampanye
	-> Laporan
	-> Keuangan
	-> Zona Dan Channel
	-> Pengaturan Aplikasi
*@
        <div class="span3">
            <aside>
                <nav>
                    <ul class="nav">
                      <li class="selected">
                        <a href=""><i class="icon-play icon-white tengahkan_icon_menu"></i> Home</a>
                      </li>
                      <li>
                        <a href=""><i class="icon-th-list tengahkan_icon_menu  icon-white"></i>Iklan Dan Kampanye</a>
                      </li>
                      <li>
                        <a href=""><i class="icon-font tengahkan_icon_menu icon-white"></i>Laporan</a>
                      </li>
                      <li>
                        <a href=""><i class="icon-user tengahkan_icon_menu icon-white"></i>Keuangan</a>
                      </li>
                      <li>
                        <a href=""><i class="icon-retweet tengahkan_icon_menu icon-white"></i>Zona</a>
                      </li>
                    </ul>
                </nav>
            </aside>
        </div>

